<head>
    <link rel="stylesheet" href="/public/css/view.css">
</head>

<nav class="navbar">
  <div class="container-fluid">
    <a href="" class="navbar-brand" style="color: #FFFFF1">Tarefas</a>
    <a href="/logout" class="navbar-brand" style="color: #FFFFF1">Sair</a>
  </div>
</nav>

{{#each post}}
                    {{#dataValues}}
    <div class="task-container">
        <div class="back-button">
            <a href="/todo"><ion-icon name="arrow-back-outline"></ion-icon></a>
        </div>
        <div class="task-details">
            <div class="row">
                <div class="col">
                    <h2>{{title}}</h2>
                </div>
                <div class="edit-button">
                    <button type="button" class="btn btn-primary"><a href="/edit/{{id}}" style="color:inherit">Editar</a></button>
                </div>
            </div>
            <p>Data: {{due}}</p>
            <p>Descrição: {{description}}</p>
        </div>
        
    </div>
     {{/dataValues}}
                {{/each}}

