<head>
    <link rel="stylesheet" href="/public/css/view.css">
</head>


    <div class="task-container">
        <div class="task-details">
            <h2>Tarefa 1</h2>
            <p>Data: 27 de abril de 2024</p>
            <p>Descrição: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at eros et mauris fermentum elementum.</p>
        </div>
        <div class="edit-button">
            <button type="button" onclick="window.location.href='edit'">Editar</button>
        </div>
    </div>

